In [11]:
import re
import pandas as pd

In [3]:
spz = re.compile(" ")

In [17]:
stringa = "1 000 000"

In [5]:
spz.sub("", stringa)

'1000000'

In [12]:
pd.to_numeric(re.sub(" ", "", stringa))

1000000

In [26]:
def from_txt(txt):
    
    txt = re.sub(" ", "", txt)
    
    return txt

In [14]:
df = pd.DataFrame()

In [22]:
df.loc[1,'col'] = stringa

In [23]:
df

         col
1  1 000 000

In [27]:
df['col'].apply(from_txt)

1    1000000
Name: col, dtype: object